.app-container {
  display: flex;
  height: inherit;
  background-color: #303030;
  box-shadow: inset 0 0 60px #060606;

  .app-body {
    background-color: #455369;
    margin: auto;
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    box-shadow: 0 0 15px #1b1b1b;
    border-radius: 30px;
    overflow: hidden;

    display: flex;
    flex-direction: row;

    #me {
      height: 100%;
    }
  }
}
