.Navigation {
  .Hamburger {
    fill: white;
    &:hover {
      fill: gray;
    }
  }
  padding: 20px;
  .Menu {
    margin-left: -500px;
    transition: margin-left 0.5s;
    &.extended {
      margin-left: 0;
    }
    &:not(.extended) {
      transform: translate3d(-100%, 0, 0);
    }
    & > * {
      font-size: 40px;
      display: block;
      text-decoration: none;
      color: white;
      &.active {
        color: wheat;
      }
    }
  }
}
